@font-face {
  font-family: Quicksand;
  font-weight: 100 900;
  font-display: swap;
  src: /* url('../fonts/quicksand-variable.woff2') format(woff2) tech(variations), */
  url('../fonts/quicksand-variable.woff2') format('woff2 supports variations'),
  url('../fonts/quicksand-variable.woff2') format("woff2-variations");
}