@font-face {
    font-family: "Old Standard TT-fallback";
    size-adjust: 107.69%;
    ascent-override: 89%;
    src: local("Times New Roman");
}
/* old-standard-tt-regular - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/old-standard-tt-v18-latin-regular.woff') format('woff');
}
/* old-standard-tt-700 - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/old-standard-tt-v18-latin-700.woff2') format('woff2'),
       url('../fonts/old-standard-tt-v18-latin-700.woff') format('woff');
}